{% extends 'base.html.twig' %}

{% block header_title %}
	<h1 class="text-center">Connexion</h1>
{% endblock %}
{% block body %}
	<form method="post" action="{{ path('login') }}" class="form-group">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.username }},
				<a href="{{ path('logout') }}">Se déconnecter</a>
			</div>
		{% else %}

			<h2>Veuillez vous connecter</h2>

			<label for="username">Nom d'utilisateur :</label>
			<input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" placeholder="Nom" required autofocus>

			<label for="password">Mot de passe :</label>
			<input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>


			<button class="btn btn-lg btn-primary" type="submit">
				Se connecter
			</button>
		{% endif %}
	</form>
{% endblock %}
