{% extends 'base.html.twig' %}


{% block header_title %}
	<h1 class="text-center">Liste des tâches</h1>
{% endblock %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">
{% endblock %}

{% block body %}

	{% set current_path = app.request.get('_route') %}

	<div class="row justify-content-center">
		<a href="{{ path('task_create') }}" class="btn btn-info mb-2">Créer une tâche</a>
	</div>
	<div class="row justify-content-around">
		{% if current_path == "task_list_not_done"%}
			<a href="{{ path('task_list_done') }}" class="btn btn-info mb-2">Voir les tâches terminées</a>
		{% elseif current_path == "task_list_done"%}
			<a href="{{ path('task_list_not_done') }}" class="btn btn-info mb-2">Voir les tâches non terminées</a>
		{% else %}
			<a href="{{ path('task_list_done') }}" class="btn btn-info mb-2">Voir les tâches terminées</a>
			<a href="{{ path('task_list_not_done') }}" class="btn btn-info mb-2">Voir les tâches non terminées</a>
		{% endif %}
	</div>

	<div class="row">
		{% for task in tasks %}
			<div class="task col-sm-6 col-lg-4 mb-3">
				<div class="thumbnail ">
					<div class="caption">
						<h4 class="pull-right">
							{% if task.isDone %}
								<span class="glyphicon glyphicon-ok"></span>
							{% else %}
								<span class="glyphicon glyphicon-remove"></span>
							{% endif %}
						</h4>
						<h4>
							<a class="task_update_link" href="{{ path('task_show', {'id' : task.id }) }}">{{ task.title }}</a>

							{% if task.user == app.user or app.user.role == 'ROLE_ADMIN'%}
								<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-unlock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M9.655 8H2.333c-.264 0-.398.068-.471.121a.73.73 0 0 0-.224.296 1.626 1.626 0 0 0-.138.59V14c0 .342.076.531.14.635.064.106.151.18.256.237a1.122 1.122 0 0 0 .436.127l.013.001h7.322c.264 0 .398-.068.471-.121a.73.73 0 0 0 .224-.296 1.627 1.627 0 0 0 .138-.59V9c0-.342-.076-.531-.14-.635a.658.658 0 0 0-.255-.237A1.122 1.122 0 0 0 9.655 8zm.012-1H2.333C.5 7 .5 9 .5 9v5c0 2 1.833 2 1.833 2h7.334c1.833 0 1.833-2 1.833-2V9c0-2-1.833-2-1.833-2zM8.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
								</svg>
							{% else %}
								<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
								</svg>
							{% endif %}

						</h4>
						<h6>Crée le {{ task.createdAt|date('Y-m-d') }} </h6>
						{# added link class to fetch to id #}
						<p class="task_content">{{  task.content|u.truncate(30) }}</p>
					</div>
					<div>
						<form action="{{ path('task_toggle', {'id' : task.id }) }}">
							<button class="btn btn-success btn-sm pull-right">
								{% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée
								{% endif %}
							</button>
						</form>
						<form class="task_delete_btn" action="{{ path('task_delete', {'id' : task.id }) }}">
							<button class="btn btn-danger btn-sm pull-right">Supprimer</button>
						</form>
					</div>
				</div>
			</div>
		{% else %}
			<div class="alert alert-warning" role="alert">
				Il n'y a pas encore de tâche enregistrée.
				<a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
