{% extends 'base.html.twig' %}

{% set current_path = app.request.get('_route') %}

{% set title = current_path == 'task_edit' ? 'Modifier ' ~  task.title  : 'Créer une nouvelle tâche'%}
{% set button = current_path == 'task_edit' ? 'Modifier ' : 'Créer'%}

{% block header_title %}
	<h1 class="text-center">{{title}}</h1>
{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}

<div class="row justify-content-center">
	<div class="col-sm-10 col-md-8 col-lg-6">
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.content) }}
	<button type="submit" class="btn btn-success float-right">{{button}}</button>
	{{ form_end(form) }}
	</div>	
</div>

{% endblock %}
