<nav class="navbar navbar-expand-lg navbar-light fixed-top">
	<img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms"/>
	<a class="navbar-brand" href={{ path('homepage') }}>ToDo&Co</a>

	<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-haspopup="true" aria-expanded="false" aria-controls="navbar">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div id="navbar" class="collapse navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">
					Accueil
				</a>
			</li>
			{% if app.user %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Tâches
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path('task_list') }}">Toutes les tâches</a>
						<a class="dropdown-item" href="{{ path('task_list_not_done') }}">Tâches non terminées</a>
						<a class="dropdown-item" href="{{ path('task_list_done') }}">Tâches non terminées</a>
						<a class="dropdown-item" href="{{ path('task_create') }}">Créer une nouvelle tâche</a>
					</div>
				</li>
			{% endif %}

			{% if app.user and app.user.role == 'ROLE_ADMIN' %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Utilisateurs
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path('user_list') }}">Liste d'utilisateurs</a>
						<a class="dropdown-item" href="{{ path('user_create') }}">Créer un utilisateur</a>
					</div>
				</li>
			{% endif %}

			{% if not app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('login') }}">
						Se connecter
					</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('logout') }}">
						Se déconnecter
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
	<!--/.nav-collapse -->
</nav>
